<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
	rel="stylesheet">

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<title>boardList</title>


</head>
<body>

	<div class="wrap">
		<div class="content">
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">UICOM</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="/">HOME <span class="sr-only">(current)</span></a></li>
							<li class="active"><a href="/boardList">게시판</a></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
			<!-- 카테고리 드롭다운 -->
			<div class="list_top_left">
				<div class="dropdown" style="float:left;">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
						<span class="category_type">전체</span> <span class="caret"></span>
					</button>
					<input type="text" hidden="hidden" name="boardCode" />
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						<li class="form_category_list"><a>전체</a></li>
						<th:block th:each="ct:${category}">
							<li class="form_category_list" role="presentation"  th:value=${ct.boardCode}><a role="menuitem" tabindex="-1" href="#" th:text="${ct.boardCategory}"></a></li>
						</th:block>
					</ul>
				</div>
				<div class="list_count">
					<span th:text="${listCount}"></span>
					<span>개의 글</span>
				</div>
			</div>
			<div class="dropdown listsize_dropdown">
				<button class="btn btn-default dropdown-toggle list_size_btn"
					type="button" id="dropdownMenu1" data-toggle="dropdown"
					aria-expanded="true">
					<span class="list_size_span" th:text="${viewSize}+개씩"></span> <span
						class="caret"></span>
				</button>
				<ul class="dropdown-menu list_size_ul" role="menu"
					aria-labelledby="dropdownMenu1">
					<li role="presentation" class="list_size_li" value="10"><a
						role="menuitem" tabindex="-1" href="/boardList?viewSize=10">10개씩</a></li>
					<li role="presentation" class="list_size_li" value="15"><a
						role="menuitem" tabindex="-1" href="/boardList?viewSize=15">15개씩</a></li>
					<li role="presentation" class="list_size_li" value="20"><a
						role="menuitem" tabindex="-1" href="/boardList?viewSize=20">20개씩</a></li>
					<li role="presentation" class="list_size_li" value="30"><a
						role="menuitem" tabindex="-1" href="/boardList?viewSize=30">30개씩</a></li>
				</ul>
			</div>

			<!-- 게시글 리스트 테이블 -->
			<div class="center">
				<table class="table table-hover board_table">
					<tr>
						<th class="th_seq"></th>
						<th class="th_category"></th>
						<th class="th_title">제목</th>
						<th class="th_writer">작성자</th>
						<th class="th_date">작성일</th>
						<th class="th_count">조회수</th>
					</tr>
					<th:block th:each="bl:${boardList}">
						<tr>
							<td th:text="${bl.boardSeq}" class="td_seq"></td>
							<td th:text="${bl.boardCategory}" class="td_category"></td>
							<td><a th:text="${bl.boardTitle}"
								th:href="@{/boardView(boardSeq=${bl.boardSeq})}"
								class="a_board_title"></a></td>
							<td th:text="${bl.boardWriter}"><a></a></td>
							<td
								th:text="${#dates.format(bl.boardDate, 'yyyy.MM.dd HH:mm:ss')}"
								class="td_date"><a></a></td>
							<td th:text="${bl.boardCount}" class="td_count"><a></a></td>
						</tr>
					</th:block>
				</table>
				<button type="button" class="btn"
					onclick="location.href='/boardWrite'" style="float: right;">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"
						style="margin-right: 5px;"></span>글쓰기
				</button>
			</div>
			<!-- 페이지네이션 -->
			<div class="pagination_wrap">
				<nav>
					<ul class="pagination">
						<li><a th:href="@{/boardList(viewSize=|${viewSize}|)}">처음</a></li>
						<li><a th:if="${currentPage > 1}"
							th:href="@{/boardList(currentPage=${currentPage - 1},viewSize=|${viewSize}|)}"
							aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
						</a></li>
						<th:block
							th:each="num:${#numbers.sequence(startPageNum,endPageNum)}" and
							th:unless="${num>lastPage}">
							<li><a th:if="${currentPage == num}" th:text="${num}"></a> <a
								th:unless="${currentPage == num}" th:text="${num}"
								th:href="@{/boardList(currentPage=${num},viewSize=${viewSize})}"></a>
							</li>
						</th:block>
						<li><a th:if="${currentPage < lastPage}"
							th:href="@{/boardList(currentPage=${currentPage + 1},viewSize=|${viewSize}|)}"
							aria-label="Next"> <span aria-hidden="true">&raquo;</span>
						</a></li>
						<li><a
							th:href="@{/boardList(currentPage=${lastPage}, viewSize=${viewSize})}">마지막</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="js/board.js"></script>
</body>
</html>